/* Paginations */
.pagination-link-first {
  border: gray;
  background-color: #f3f3f3;
  color: #bdbdbd;
}

.pagination-link-2 {
  border: gray;
  background-color: #3490dc;
  border-color: #3490dc;
  color: #ffffff;
}

.paginations-1-3-Next {
  color: #23a6f0;
}
