@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0 auto;
  max-width: 100vw;
  overflow-x: hidden;
}

@layer components {
  .header-shopping-icon {
    @apply text-[#00A1C1] hover:text-gray-300 mr-4;
  }
  .hover-text-gray {
    @apply hover:text-gray-300;
  }
  .footer-list li {
    margin-bottom: 10px;
    color: #737373;
  }
  .custom-box-shadow {
    box-shadow: 0px 2px 0px rgba(128, 128, 128, 0.5); /* Gri gölge */
  }
  .productIcon {
    @apply flex justify-center items-center rounded-full border border-[#E8E8E8] w-10;
  }
  .quick-div {
    @apply flex items-center justify-start gap-4 mb-2;
  }
  .navBar-product {
    @apply text-[#737373] text-sm font-bold no-underline;
  }
  .product-h6 {
    @apply text-[#737373] w-[80%]  text-sm font-normal leading-tight tracking-tight;
  }
  .product-detail-color {
    @apply w-[30px] h-[30px]  rounded-full shadow-sm hover:bg-sky-200 cursor-pointer;
  }
  .team-second-section {
    @apply w-[180px] sm:w-[360px] h-[260px] object-cover mb-[9px];
  }
  .metrics {
    @apply text-slate-800 text-[58px] font-bold;
  }

  .metricsTitle {
    @apply text-center text-neutral-500 text-base font-bold;
  }
  .form-error {
    @apply mt-1 ml-1 text-[15px] text-red-600 w-[30%] sm:w-[60%] md:w-[60%];
  }
  .form-label {
    @apply text-base font-bold text-gray-600 block;
  }
  .form-input {
    @apply w-[30%] sm:w-[70%] md:w-[70%] p-3 border border-solid text-sm;
  }
  .button-signup {
    @apply border w-[20%] border-[#23A6F0] rounded bg-[#23A6F0] text-white font-bold sm:w-[50%] md:w-[30%] py-[1%] px-[2%] mt-[5%] sm:mt-[10%] md:mt-[10%];
  }
  .store-input {
    @apply border rounded-md p-3 mb-2 w-[30%] sm:w-[70%] md:w-[70%];
  }
}
